{% extends 'base/base_admin.html' %}

{% block content %}
  {% import 'bootstrap/wtf.html' as wtf %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Bienvenido a D'Juan Market</h1>
        
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <form method="POST" action="/actualizarProducto/{{id}}" enctype="multipart/form-data">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Actualizar Producto</h1>
                <div class="btn-toolbar mb-2 mb-md-0"> 
                  <div class="btn-group mr-2">
                    <button type="submit" class="btn btn-primary"  id="modDatos">Guardar datos</button>
                  </div>
                </div>
                
              </div>
    
            
              {{ form.hidden_tag() }}             
              {{ wtf.form_field(form.nombreProd, value= nombre) }}     
              {{ wtf.form_field(form.precio, value= precio) }}     
              {{ wtf.form_field(form.cantidad, value= cantidad) }}     
              {{ wtf.form_field(form.categoria, value= categoria) }}
              {{ wtf.form_field(form.descripcion, value=descripcion) }}
              <div style="display:none;">{{ wtf.form_field(form.imagen, value=imagen, readonly=true) }}</div>
            
              <input type="file" accept=".png, .jpg, .jpeg" name="image" id="image" value="">
            </form>
          </main>
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  {% block jScript %}
    <!--
      BLOQUE PARA COLOCAR ARCHIVOS JS
    -->
  {% endblock %}

{% endblock %}
