{% extends 'base/base_admin.html' %}

{% block content %}
  {% import 'bootstrap/wtf.html' as wtf %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Panel de control de D'Juan Market</h1>
        <div class="list-group">
          <a href="/admin/" class="list-group-item">Listar Productos</a>
        </div> 
        <div class="list-group">
          <a href="/listarUsuarios" class="list-group-item">Listar Usuarios</a>
        </div>
        
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <form action="/crearProducto" method="POST" enctype="multipart/form-data">
          <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Agregar Producto</h1>
                <div class="btn-toolbar mb-2 mb-md-0"> 
                  <!--<a href="Listarproductos.html"><div class="btn-group mr-2"></a>-->
                    <button type="submit" class="btn btn-primary"  id="modDatos">Guardar datos</button>
                  </div>
                </div>
                
              </div>
              <!--
              <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" name="nombreProd" class="form-control" id="nombre" placeholder="Ingresa nombre del producto">
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Precio unitario (en soles peruanos)</label>
                <input type="text" name="precio" class="form-control" id="preciodelproducto" placeholder="Ingresa precio del producto">
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Cantidad</label>
                <input type="text" name="cantidad" class="form-control" id="preciodelproducto" placeholder="Ingresa cantidad del producto">
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Categoria</label>
                
                <select name="categoria">
                  <option value="Todos">Todos</option>
                  <option value="Lacteos">Lacteos</option>
                  <option value="Enlatados">Enlatados</option>
                  <option value="Carnes">Carnes y embutidos</option>
                  <option value="Frutas y verduras">Frutas y verduras</option>
                  <option value="Productosdelimpieza">Productos de limpieza</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Descripcion</label>
                <input type="text" name="descripcion" class="form-control" id="Descripcion" placeholder="Ingrese descripcion del producto">
              </div>
              
              <div class="form-group">
                <label for="exampleFormControlInput1">Imagen</label>
                <input type="text" name="imagen" class="form-control" id="Imagen" placeholder="Ingrese Imagen del producto">
              </div>
              -->
                
              {{ form.hidden_tag() }}             
              {{ wtf.form_field(form.nombreProd) }}           
              {{ wtf.form_field(form.precio) }}            
              {{ wtf.form_field(form.cantidad) }}                                              
              {{ wtf.form_field(form.categoria) }}
              {{ wtf.form_field(form.descripcion) }}
              <div style="display:none;">{{ wtf.form_field(form.imagen) }}</div>
              <input type="file" name="image" id="image" value="">
              
          </form>
          </main>
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% block jScript %}
  <!--
    BLOQUE PARA COLOCAR ARCHIVOS JS
  -->
{% endblock %}

{% endblock %}
