{% extends 'base/base_user.html' %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Bienvenido a D'Juan Market</h1>
      <h2>Filtrar por : </h2>
      <form action="/verProductos/{{ cat }}" method="GET">
        <label for="categoria">Categorías</label>
        <select name="cat" id="categoria">
          <option value="ALL">Todas</option>
          <option value="LA">Lácteos</option>
          <option value="EN">Enlatados</option>
          <option value="CE">Carnes y embutidos</option>
          <option value="PL">Productos de Limpiezas</option>
          <option value="FV">Fruta y verduras</option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">
        {% for prod in listaProd %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-90">
            <a href="#">
              <!--
              <img class="card-img-top" src="url_for('static',filename='img/productos/',imagen='prod.imagen')" alt="F">-->
              
              <!-- ESTE SI FUNCIONA no se puede poner doble llave dentro de otra-->
              <img class="card-img-top" height="150px" src="../static/img/productos/{{prod.imagen}}" alt="F">
              
            </a>
            <div class="card-body">
              <h4 class="card-title">{{ prod.nombreProd }}</h4>
              <h6>S/. {{ prod.precio }}</h5>
              <form action="/añadirPedido/{{prod.id}}" method="POST">
                <button type="submit" class="boton" onclick="alert('Producto agregado')">Agregar</button>
              </form>
              <div class="card-footer">
                
              </div>
         
            </div>
          </div>
        </div>
        {% endfor %}

        <!--
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-90">
            <a href="#"><img class="card-img-top" src="img/Suave.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                Papel Higienico Suave
              </h4>
              <h5>s/ 22.80</h5>
              <button class="boton">Agregar</button>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% block jScript %}
<!--
      BLOQUE PARA COLOCAR ARCHIVOS JS
    -->
{% endblock %}

{% endblock %}