{% extends 'base/base_user.html' %}

{% block content %}
    

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">¡Compra procesada exitosamente!</h1>
        
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        

        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <img class="mb-2" src="{{ url_for('static',filename='img/Logo1.JPG')}}" alt="" width="200px" height="90px" style="display: block;margin: auto;">
              <h1 class="h2">Agradece su preferencia</h1> 
              
              
            </div>
            
            
          </main>
          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <!-- /.container -->

  {% block jScript %}
  <!--
    BLOQUE PARA COLOCAR ARCHIVOS JS
  -->
{% endblock %}

{% endblock %}
