{% extends 'base/base_admin.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Panel de control de D'Juan Market</h1>
        <div class="list-group">
          <a href="/admin" class="list-group-item">Listar Productos</a>
        </div> 
        <div class="list-group">
          <a href="/listarUsuarios" class="list-group-item">Listar Usuarios</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col">
          <main role="main" class="col">
            <!-- col-md-9 ml-sm-auto col-lg-10 px-md-4 -->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Lista de Productos</h1>
              
              <div class="btn-toolbar mb-2 mb-md-0">
                
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/crearProducto"> Agregar Producto</a></button>
                </div>
                
              </div>
              
            </div>
            <div>
              {% with messages = get_flashed_messages() %}
                {% if messages %}

                  {% for messages in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ messages }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endfor %}

                {% endif %}
              {% endwith %}

            </div>
              
            
            <div class="partes">
              
              <form action="/admin/{{ cat }}" method="get">
                <label for="categoria">Categorías</label>
                <select name="cat" id="categoria">
                  <option value="ALL">Todas</option>
                  <option value="LA">Lácteos</option>
                  <option value="EN">Enlatados</option>
                  <option value="CE">Carnes y embutidos</option>
                  <option value="PL">Productos de Limpiezas</option>
                  <option value="FV">Fruta y verduras</option>
                </select>

                  <button type="submit">Filtrar</button>
              </form>
            </div>

            <div class="table-responsive">
              <table class="table table-striped table-sm" id="tablon">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Imagen</th>

                    <th>Editar</th>
                    <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="CuerpoTabla">
                  {% for prod in listaProd %}
                    <tr>
                      <td>{{ prod.id }}</td>
                      <td>{{ prod.nombreProd }}</td>
                      <td>{{ prod.precio }}</td>
                      <td>{{ prod.categoria }}</td>
                      <td>{{ prod.cantidad }}</td>
                      <td>{{ prod.imagen }}</td>
                      <td>
                        <form action="/actualizarProducto/{{prod.id}}" method="GET">
                          <a href='ActualizarProducto'><button type="submit">Editar Producto</button></a>
                        
                        </form>
                      </td>
                      
                      <td>
                        <form action="/eliminarProducto/{{prod.id}}" method="POST">
                          <button type="submit">Eliminar Producto</button>
                          <!--
                        <input type="hidden" name="idaeditar"/> <input type="submit" value="Eliminar Producto"/>-->
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                    
      
      
                   
                </tbody>
              </table>
              
            </div>
          </main>
      </div>
      <!-- /.col -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% block jScript %}
  <!--
    BLOQUE PARA COLOCAR ARCHIVOS JS
  -->
{% endblock %}

{% endblock %}
