{% extends 'base/base_admin.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Panel de control de D'Juan Market</h1>
        <div class="list-group">
            <a href="/admin/" class="list-group-item">Listar Productos</a>
          </div> 
          <div class="list-group">
            <a href="/listarUsuarios" class="list-group-item">Listar Usuarios</a>
          </div>
          <div class="list-group">
            <a href="/listarOrdenes" class="list-group-item">Listar Ordenes de Compra</a>
          </div>
        
      </div>

      <div class="col">
        <main role="main" class="col">
            <!-- col-md-9 ml-sm-auto col-lg-10 px-md-4  -->
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Lista de ordenes de compra</h1>
            <div class="btn-toolbar mb-2 mb-md-0"> 
              <div class="btn-group mr-2">
                <a href="/listarOrdenes"><button type="button" class="btn btn-sm btn-outline-secondary">Actualizar lista</button></a>
              </div>
              <!--
              <div class="btn-group mr-2">
                <form action="/eliminarUsuario" method="post">
                  <a href="/eliminarUsuario"> </a>
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Eliminar cuenta</button>                 
                </form>
              </div>
              -->
            </div>
            
          </div>
    
          <div class="table-responsive col">
              <!--  col-md-8 -->
            <table class="table table-striped table-sm">
              <form action="/" method="POST"></form>
                <thead>                   
                  <tr>
                    <th>ID usuario</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Monto Pagado</th>
                    <th>Estado</th>
                    <th>Cambiar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in listaOrd %}
                      <tr>
                        <td> {{ item.usuar_id }}</td>
                        <td> {{ item.namProd }}</td>
                        <td> {{ item.cant }}</td>
                        <td>{{ item.monto_total}}</td>
                        <td>{{item.status}}</td>
                        <td>
                          
                          <form action="/entregar/{{item.id}}" method="POST">
                            <button type="submit" class="btn btn-success">Enviar</i></button>
                            
                          </form>
                        </td>
                        <td>
                          <form action="/eliminarOrden/{{item.id}}" method="POST">
                          <button type="submit" class="btn"><i class="fa fa-trash"></i></button>
                          <!--
                        <input type="hidden" name="idaeditar"/> <input type="submit" value="Eliminar Producto"/>-->
                        </form></td>
                      </tr>

                    {% endfor %}
                    <!--
                  <tr>
                    <td>1</td>
                    <td><input readonly=readonly type="text" name="nombre" value="{{nombre}}" class="form-control"></td>
                  </tr>
                    -->
                </tbody>
              </form>
            </table>
          </div>
        </main>
      </div>  
    </div>
    <!-- /.row -->
</div>

    {% block jScript %}
    <!--
        BLOQUE PARA COLOCAR ARCHIVOS JS
    -->
    {% endblock %}

{% endblock %}