{% extends 'signin.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}

  

{{super()}}
<link rel="stylesheet" href="/static/css/signin.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  

</style>


{% endblock %}

{% block content %}
       

<div class="form-signin signin" style="flex-direction: column;">

<form method="POST" action="/registrarse">
  <!-- <div class="btn-toolbar mb-2 mb-md-0"> 
    
    </div>-->
    <h1>Registrarse</h1>
                    
    {{ form.hidden_tag() }}             
    <h1 class="h3 mb-3 font-weight-normal">{{ wtf.form_field(form.nombre) }} </h1>          
    <h1 class="h3 mb-3 font-weight-normal">{{ wtf.form_field(form.email) }}</h1>        
    <h1 class="h3 mb-3 font-weight-normal">{{ wtf.form_field(form.telefono) }}</h1>                                              
    <h1 class="h3 mb-3 font-weight-normal">{{ wtf.form_field(form.contra) }}</h1>

    <button type="submit" class="btn btn-lg btn-primary btn-block" >Guardar datos</button>  

</form>
          
</div>        

 
  
-
  {% endblock %}