{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
       
<h1 class="h2">Registrarse</h1>
  

<form method="POST" action="/registrarse">
  <!-- <div class="btn-toolbar mb-2 mb-md-0"> 
    
    </div>-->
    <button type="submit" class="btn btn-primary"  id="modDatos">Guardar datos</button>                  
    {{ form.hidden_tag() }}             
    {{ wtf.form_field(form.nombre) }}           
    {{ wtf.form_field(form.email) }}            
    {{ wtf.form_field(form.telefono) }}                                              
    {{ wtf.form_field(form.contra) }}
    

</form>
</main>
          
        

 
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
   
  </footer>
-
  {% endblock %}